<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.mapper.BasDeliverystandardMapper">
  <resultMap id="BaseResultMap" type="com.bos.model.BasDeliverystandard">
    <id column="ID" jdbcType="NUMERIC" property="ID" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="MINWEIGHT" jdbcType="NUMERIC" property="MINWEIGHT" />
    <result column="MAXWEIGHT" jdbcType="NUMERIC" property="MAXWEIGHT" />
    <result column="OPERATORID" jdbcType="NUMERIC" property="OPERATORID" />
    <result column="OPERATIONUNITID" jdbcType="NUMERIC" property="OPERATIONUNITID" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="OPERATIONTIME" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, MINWEIGHT, MAXWEIGHT, OPERATORID, OPERATIONUNITID, OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAS_DELIVERYSTANDARD
    where ID = #{ID,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from BAS_DELIVERYSTANDARD
    where ID = #{ID,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.bos.model.BasDeliverystandard">
    insert into BAS_DELIVERYSTANDARD (ID, NAME, MINWEIGHT, 
      MAXWEIGHT, OPERATORID, OPERATIONUNITID, 
      OPERATIONTIME)
    values (#{ID,jdbcType=NUMERIC}, #{NAME,jdbcType=VARCHAR}, #{MINWEIGHT,jdbcType=NUMERIC}, 
      #{MAXWEIGHT,jdbcType=NUMERIC}, #{OPERATORID,jdbcType=NUMERIC}, #{OPERATIONUNITID,jdbcType=NUMERIC}, 
      #{OPERATIONTIME,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bos.model.BasDeliverystandard">
    insert into BAS_DELIVERYSTANDARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="MINWEIGHT != null">
        MINWEIGHT,
      </if>
      <if test="MAXWEIGHT != null">
        MAXWEIGHT,
      </if>
      <if test="OPERATORID != null">
        OPERATORID,
      </if>
      <if test="OPERATIONUNITID != null">
        OPERATIONUNITID,
      </if>
      <if test="OPERATIONTIME != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=NUMERIC},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="MINWEIGHT != null">
        #{MINWEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="MAXWEIGHT != null">
        #{MAXWEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="OPERATORID != null">
        #{OPERATORID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONUNITID != null">
        #{OPERATIONUNITID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONTIME != null">
        #{OPERATIONTIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bos.model.BasDeliverystandard">
    update BAS_DELIVERYSTANDARD
    <set>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="MINWEIGHT != null">
        MINWEIGHT = #{MINWEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="MAXWEIGHT != null">
        MAXWEIGHT = #{MAXWEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="OPERATORID != null">
        OPERATORID = #{OPERATORID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONUNITID != null">
        OPERATIONUNITID = #{OPERATIONUNITID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONTIME != null">
        OPERATIONTIME = #{OPERATIONTIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bos.model.BasDeliverystandard">
    update BAS_DELIVERYSTANDARD
    set NAME = #{NAME,jdbcType=VARCHAR},
      MINWEIGHT = #{MINWEIGHT,jdbcType=NUMERIC},
      MAXWEIGHT = #{MAXWEIGHT,jdbcType=NUMERIC},
      OPERATORID = #{OPERATORID,jdbcType=NUMERIC},
      OPERATIONUNITID = #{OPERATIONUNITID,jdbcType=NUMERIC},
      OPERATIONTIME = #{OPERATIONTIME,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
</mapper>