<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.mapper.BasShuttlebusMapper">
  <resultMap id="BaseResultMap" type="com.bos.model.BasShuttlebus">
    <id column="ID" jdbcType="NUMERIC" property="ID" />
    <result column="LINETYPE" jdbcType="NUMERIC" property="LINETYPE" />
    <result column="LINEID" jdbcType="NUMERIC" property="LINEID" />
    <result column="LICENSEPLATEINT" jdbcType="VARCHAR" property="LICENSEPLATEINT" />
    <result column="CARRIER" jdbcType="VARCHAR" property="CARRIER" />
    <result column="MODELS" jdbcType="VARCHAR" property="MODELS" />
    <result column="DRIVER" jdbcType="VARCHAR" property="DRIVER" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="TELEPHONE" />
    <result column="TON" jdbcType="NUMERIC" property="TON" />
    <result column="REMARKS" jdbcType="VARCHAR" property="REMARKS" />
    <result column="OPERATORID" jdbcType="NUMERIC" property="OPERATORID" />
    <result column="OPERATIONUNITID" jdbcType="NUMERIC" property="OPERATIONUNITID" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="OPERATIONTIME" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LINETYPE, LINEID, LICENSEPLATEINT, CARRIER, MODELS, DRIVER, TELEPHONE, TON, REMARKS, 
    OPERATORID, OPERATIONUNITID, OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAS_SHUTTLEBUS
    where ID = #{ID,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from BAS_SHUTTLEBUS
    where ID = #{ID,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.bos.model.BasShuttlebus">
    insert into BAS_SHUTTLEBUS (ID, LINETYPE, LINEID, 
      LICENSEPLATEINT, CARRIER, MODELS, 
      DRIVER, TELEPHONE, TON, 
      REMARKS, OPERATORID, OPERATIONUNITID, 
      OPERATIONTIME)
    values (#{ID,jdbcType=NUMERIC}, #{LINETYPE,jdbcType=NUMERIC}, #{LINEID,jdbcType=NUMERIC}, 
      #{LICENSEPLATEINT,jdbcType=VARCHAR}, #{CARRIER,jdbcType=VARCHAR}, #{MODELS,jdbcType=VARCHAR}, 
      #{DRIVER,jdbcType=VARCHAR}, #{TELEPHONE,jdbcType=VARCHAR}, #{TON,jdbcType=NUMERIC}, 
      #{REMARKS,jdbcType=VARCHAR}, #{OPERATORID,jdbcType=NUMERIC}, #{OPERATIONUNITID,jdbcType=NUMERIC}, 
      #{OPERATIONTIME,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bos.model.BasShuttlebus">
    insert into BAS_SHUTTLEBUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="LINETYPE != null">
        LINETYPE,
      </if>
      <if test="LINEID != null">
        LINEID,
      </if>
      <if test="LICENSEPLATEINT != null">
        LICENSEPLATEINT,
      </if>
      <if test="CARRIER != null">
        CARRIER,
      </if>
      <if test="MODELS != null">
        MODELS,
      </if>
      <if test="DRIVER != null">
        DRIVER,
      </if>
      <if test="TELEPHONE != null">
        TELEPHONE,
      </if>
      <if test="TON != null">
        TON,
      </if>
      <if test="REMARKS != null">
        REMARKS,
      </if>
      <if test="OPERATORID != null">
        OPERATORID,
      </if>
      <if test="OPERATIONUNITID != null">
        OPERATIONUNITID,
      </if>
      <if test="OPERATIONTIME != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=NUMERIC},
      </if>
      <if test="LINETYPE != null">
        #{LINETYPE,jdbcType=NUMERIC},
      </if>
      <if test="LINEID != null">
        #{LINEID,jdbcType=NUMERIC},
      </if>
      <if test="LICENSEPLATEINT != null">
        #{LICENSEPLATEINT,jdbcType=VARCHAR},
      </if>
      <if test="CARRIER != null">
        #{CARRIER,jdbcType=VARCHAR},
      </if>
      <if test="MODELS != null">
        #{MODELS,jdbcType=VARCHAR},
      </if>
      <if test="DRIVER != null">
        #{DRIVER,jdbcType=VARCHAR},
      </if>
      <if test="TELEPHONE != null">
        #{TELEPHONE,jdbcType=VARCHAR},
      </if>
      <if test="TON != null">
        #{TON,jdbcType=NUMERIC},
      </if>
      <if test="REMARKS != null">
        #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="OPERATORID != null">
        #{OPERATORID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONUNITID != null">
        #{OPERATIONUNITID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONTIME != null">
        #{OPERATIONTIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bos.model.BasShuttlebus">
    update BAS_SHUTTLEBUS
    <set>
      <if test="LINETYPE != null">
        LINETYPE = #{LINETYPE,jdbcType=NUMERIC},
      </if>
      <if test="LINEID != null">
        LINEID = #{LINEID,jdbcType=NUMERIC},
      </if>
      <if test="LICENSEPLATEINT != null">
        LICENSEPLATEINT = #{LICENSEPLATEINT,jdbcType=VARCHAR},
      </if>
      <if test="CARRIER != null">
        CARRIER = #{CARRIER,jdbcType=VARCHAR},
      </if>
      <if test="MODELS != null">
        MODELS = #{MODELS,jdbcType=VARCHAR},
      </if>
      <if test="DRIVER != null">
        DRIVER = #{DRIVER,jdbcType=VARCHAR},
      </if>
      <if test="TELEPHONE != null">
        TELEPHONE = #{TELEPHONE,jdbcType=VARCHAR},
      </if>
      <if test="TON != null">
        TON = #{TON,jdbcType=NUMERIC},
      </if>
      <if test="REMARKS != null">
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="OPERATORID != null">
        OPERATORID = #{OPERATORID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONUNITID != null">
        OPERATIONUNITID = #{OPERATIONUNITID,jdbcType=NUMERIC},
      </if>
      <if test="OPERATIONTIME != null">
        OPERATIONTIME = #{OPERATIONTIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bos.model.BasShuttlebus">
    update BAS_SHUTTLEBUS
    set LINETYPE = #{LINETYPE,jdbcType=NUMERIC},
      LINEID = #{LINEID,jdbcType=NUMERIC},
      LICENSEPLATEINT = #{LICENSEPLATEINT,jdbcType=VARCHAR},
      CARRIER = #{CARRIER,jdbcType=VARCHAR},
      MODELS = #{MODELS,jdbcType=VARCHAR},
      DRIVER = #{DRIVER,jdbcType=VARCHAR},
      TELEPHONE = #{TELEPHONE,jdbcType=VARCHAR},
      TON = #{TON,jdbcType=NUMERIC},
      REMARKS = #{REMARKS,jdbcType=VARCHAR},
      OPERATORID = #{OPERATORID,jdbcType=NUMERIC},
      OPERATIONUNITID = #{OPERATIONUNITID,jdbcType=NUMERIC},
      OPERATIONTIME = #{OPERATIONTIME,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
</mapper>