<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.mapper.IaeLineresourceMapper">
  <resultMap id="BaseResultMap" type="com.bos.model.IaeLineresource">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="RESOURCETYPE" jdbcType="VARCHAR" property="RESOURCETYPE" />
    <result column="PORT" jdbcType="VARCHAR" property="PORT" />
    <result column="DEMAND" jdbcType="NUMERIC" property="DEMAND" />
    <result column="VEHICLEINT" jdbcType="VARCHAR" property="VEHICLEINT" />
    <result column="CAPACITY" jdbcType="VARCHAR" property="CAPACITY" />
    <result column="WAYBILLID" jdbcType="NUMERIC" property="WAYBILLID" />
    <result column="CARRIER" jdbcType="VARCHAR" property="CARRIER" />
    <result column="EXPECTARRIVALDATE" jdbcType="TIMESTAMP" property="EXPECTARRIVALDATE" />
    <result column="EXPECTDEPARTUREDATE" jdbcType="TIMESTAMP" property="EXPECTDEPARTUREDATE" />
    <result column="TICKET" jdbcType="NUMERIC" property="TICKET" />
    <result column="CARGO" jdbcType="NUMERIC" property="CARGO" />
    <result column="WEIGHT" jdbcType="NUMERIC" property="WEIGHT" />
    <result column="VOLUME" jdbcType="NUMERIC" property="VOLUME" />
    <result column="HANDLEPERSON" jdbcType="VARCHAR" property="HANDLEPERSON" />
    <result column="HANDLEDATE" jdbcType="TIMESTAMP" property="HANDLEDATE" />
    <result column="ENTERPERSON" jdbcType="NUMERIC" property="ENTERPERSON" />
    <result column="ENTERDATE" jdbcType="TIMESTAMP" property="ENTERDATE" />
    <result column="ENTERCOMPANY" jdbcType="VARCHAR" property="ENTERCOMPANY" />
    <result column="ACCEPTPERSON" jdbcType="NUMERIC" property="ACCEPTPERSON" />
    <result column="ACCEPTDATE" jdbcType="TIMESTAMP" property="ACCEPTDATE" />
    <result column="ACCEPTCOMPANY" jdbcType="VARCHAR" property="ACCEPTCOMPANY" />
    <result column="ABNORMALREMARKS" jdbcType="VARCHAR" property="ABNORMALREMARKS" />
    <result column="WORKINT" jdbcType="VARCHAR" property="WORKINT" />
    <result column="ACTUALCOUNT" jdbcType="NUMERIC" property="ACTUALCOUNT" />
    <result column="DESTINATION" jdbcType="VARCHAR" property="DESTINATION" />
    <result column="WARENAME" jdbcType="VARCHAR" property="WARENAME" />
    <result column="ACTUALVOLUME" jdbcType="NUMERIC" property="ACTUALVOLUME" />
    <result column="TIMELIMIT" jdbcType="TIMESTAMP" property="TIMELIMIT" />
    <result column="ASK" jdbcType="VARCHAR" property="ASK" />
    <result column="TAKECARGOPERSON" jdbcType="VARCHAR" property="TAKECARGOPERSON" />
    <result column="TACKCARGOADDRESS" jdbcType="VARCHAR" property="TACKCARGOADDRESS" />
    <result column="PAYMENT" jdbcType="NUMERIC" property="PAYMENT" />
    <result column="SPECIALENSURE" jdbcType="VARCHAR" property="SPECIALENSURE" />
    <result column="DELIVERYTYPE" jdbcType="NUMERIC" property="DELIVERYTYPE" />
    <result column="IMPORTANTHINTS" jdbcType="VARCHAR" property="IMPORTANTHINTS" />
    <result column="SURPLUSTIME" jdbcType="TIMESTAMP" property="SURPLUSTIME" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RESOURCETYPE, PORT, DEMAND, VEHICLEINT, CAPACITY, WAYBILLID, CARRIER, EXPECTARRIVALDATE, 
    EXPECTDEPARTUREDATE, TICKET, CARGO, WEIGHT, VOLUME, HANDLEPERSON, HANDLEDATE, ENTERPERSON, 
    ENTERDATE, ENTERCOMPANY, ACCEPTPERSON, ACCEPTDATE, ACCEPTCOMPANY, ABNORMALREMARKS, 
    WORKINT, ACTUALCOUNT, DESTINATION, WARENAME, ACTUALVOLUME, TIMELIMIT, ASK, TAKECARGOPERSON, 
    TACKCARGOADDRESS, PAYMENT, SPECIALENSURE, DELIVERYTYPE, IMPORTANTHINTS, SURPLUSTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IAE_LINERESOURCE
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IAE_LINERESOURCE
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bos.model.IaeLineresource">
    insert into IAE_LINERESOURCE (ID, RESOURCETYPE, PORT, 
      DEMAND, VEHICLEINT, CAPACITY, 
      WAYBILLID, CARRIER, EXPECTARRIVALDATE, 
      EXPECTDEPARTUREDATE, TICKET, CARGO, 
      WEIGHT, VOLUME, HANDLEPERSON, 
      HANDLEDATE, ENTERPERSON, ENTERDATE, 
      ENTERCOMPANY, ACCEPTPERSON, ACCEPTDATE, 
      ACCEPTCOMPANY, ABNORMALREMARKS, WORKINT, 
      ACTUALCOUNT, DESTINATION, WARENAME, 
      ACTUALVOLUME, TIMELIMIT, ASK, 
      TAKECARGOPERSON, TACKCARGOADDRESS, PAYMENT, 
      SPECIALENSURE, DELIVERYTYPE, IMPORTANTHINTS, 
      SURPLUSTIME)
    values (#{ID,jdbcType=VARCHAR}, #{RESOURCETYPE,jdbcType=VARCHAR}, #{PORT,jdbcType=VARCHAR}, 
      #{DEMAND,jdbcType=NUMERIC}, #{VEHICLEINT,jdbcType=VARCHAR}, #{CAPACITY,jdbcType=VARCHAR}, 
      #{WAYBILLID,jdbcType=NUMERIC}, #{CARRIER,jdbcType=VARCHAR}, #{EXPECTARRIVALDATE,jdbcType=TIMESTAMP}, 
      #{EXPECTDEPARTUREDATE,jdbcType=TIMESTAMP}, #{TICKET,jdbcType=NUMERIC}, #{CARGO,jdbcType=NUMERIC}, 
      #{WEIGHT,jdbcType=NUMERIC}, #{VOLUME,jdbcType=NUMERIC}, #{HANDLEPERSON,jdbcType=VARCHAR}, 
      #{HANDLEDATE,jdbcType=TIMESTAMP}, #{ENTERPERSON,jdbcType=NUMERIC}, #{ENTERDATE,jdbcType=TIMESTAMP}, 
      #{ENTERCOMPANY,jdbcType=VARCHAR}, #{ACCEPTPERSON,jdbcType=NUMERIC}, #{ACCEPTDATE,jdbcType=TIMESTAMP}, 
      #{ACCEPTCOMPANY,jdbcType=VARCHAR}, #{ABNORMALREMARKS,jdbcType=VARCHAR}, #{WORKINT,jdbcType=VARCHAR}, 
      #{ACTUALCOUNT,jdbcType=NUMERIC}, #{DESTINATION,jdbcType=VARCHAR}, #{WARENAME,jdbcType=VARCHAR}, 
      #{ACTUALVOLUME,jdbcType=NUMERIC}, #{TIMELIMIT,jdbcType=TIMESTAMP}, #{ASK,jdbcType=VARCHAR}, 
      #{TAKECARGOPERSON,jdbcType=VARCHAR}, #{TACKCARGOADDRESS,jdbcType=VARCHAR}, #{PAYMENT,jdbcType=NUMERIC}, 
      #{SPECIALENSURE,jdbcType=VARCHAR}, #{DELIVERYTYPE,jdbcType=NUMERIC}, #{IMPORTANTHINTS,jdbcType=VARCHAR}, 
      #{SURPLUSTIME,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bos.model.IaeLineresource">
    insert into IAE_LINERESOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="RESOURCETYPE != null">
        RESOURCETYPE,
      </if>
      <if test="PORT != null">
        PORT,
      </if>
      <if test="DEMAND != null">
        DEMAND,
      </if>
      <if test="VEHICLEINT != null">
        VEHICLEINT,
      </if>
      <if test="CAPACITY != null">
        CAPACITY,
      </if>
      <if test="WAYBILLID != null">
        WAYBILLID,
      </if>
      <if test="CARRIER != null">
        CARRIER,
      </if>
      <if test="EXPECTARRIVALDATE != null">
        EXPECTARRIVALDATE,
      </if>
      <if test="EXPECTDEPARTUREDATE != null">
        EXPECTDEPARTUREDATE,
      </if>
      <if test="TICKET != null">
        TICKET,
      </if>
      <if test="CARGO != null">
        CARGO,
      </if>
      <if test="WEIGHT != null">
        WEIGHT,
      </if>
      <if test="VOLUME != null">
        VOLUME,
      </if>
      <if test="HANDLEPERSON != null">
        HANDLEPERSON,
      </if>
      <if test="HANDLEDATE != null">
        HANDLEDATE,
      </if>
      <if test="ENTERPERSON != null">
        ENTERPERSON,
      </if>
      <if test="ENTERDATE != null">
        ENTERDATE,
      </if>
      <if test="ENTERCOMPANY != null">
        ENTERCOMPANY,
      </if>
      <if test="ACCEPTPERSON != null">
        ACCEPTPERSON,
      </if>
      <if test="ACCEPTDATE != null">
        ACCEPTDATE,
      </if>
      <if test="ACCEPTCOMPANY != null">
        ACCEPTCOMPANY,
      </if>
      <if test="ABNORMALREMARKS != null">
        ABNORMALREMARKS,
      </if>
      <if test="WORKINT != null">
        WORKINT,
      </if>
      <if test="ACTUALCOUNT != null">
        ACTUALCOUNT,
      </if>
      <if test="DESTINATION != null">
        DESTINATION,
      </if>
      <if test="WARENAME != null">
        WARENAME,
      </if>
      <if test="ACTUALVOLUME != null">
        ACTUALVOLUME,
      </if>
      <if test="TIMELIMIT != null">
        TIMELIMIT,
      </if>
      <if test="ASK != null">
        ASK,
      </if>
      <if test="TAKECARGOPERSON != null">
        TAKECARGOPERSON,
      </if>
      <if test="TACKCARGOADDRESS != null">
        TACKCARGOADDRESS,
      </if>
      <if test="PAYMENT != null">
        PAYMENT,
      </if>
      <if test="SPECIALENSURE != null">
        SPECIALENSURE,
      </if>
      <if test="DELIVERYTYPE != null">
        DELIVERYTYPE,
      </if>
      <if test="IMPORTANTHINTS != null">
        IMPORTANTHINTS,
      </if>
      <if test="SURPLUSTIME != null">
        SURPLUSTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=VARCHAR},
      </if>
      <if test="RESOURCETYPE != null">
        #{RESOURCETYPE,jdbcType=VARCHAR},
      </if>
      <if test="PORT != null">
        #{PORT,jdbcType=VARCHAR},
      </if>
      <if test="DEMAND != null">
        #{DEMAND,jdbcType=NUMERIC},
      </if>
      <if test="VEHICLEINT != null">
        #{VEHICLEINT,jdbcType=VARCHAR},
      </if>
      <if test="CAPACITY != null">
        #{CAPACITY,jdbcType=VARCHAR},
      </if>
      <if test="WAYBILLID != null">
        #{WAYBILLID,jdbcType=NUMERIC},
      </if>
      <if test="CARRIER != null">
        #{CARRIER,jdbcType=VARCHAR},
      </if>
      <if test="EXPECTARRIVALDATE != null">
        #{EXPECTARRIVALDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="EXPECTDEPARTUREDATE != null">
        #{EXPECTDEPARTUREDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="TICKET != null">
        #{TICKET,jdbcType=NUMERIC},
      </if>
      <if test="CARGO != null">
        #{CARGO,jdbcType=NUMERIC},
      </if>
      <if test="WEIGHT != null">
        #{WEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="VOLUME != null">
        #{VOLUME,jdbcType=NUMERIC},
      </if>
      <if test="HANDLEPERSON != null">
        #{HANDLEPERSON,jdbcType=VARCHAR},
      </if>
      <if test="HANDLEDATE != null">
        #{HANDLEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTERPERSON != null">
        #{ENTERPERSON,jdbcType=NUMERIC},
      </if>
      <if test="ENTERDATE != null">
        #{ENTERDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTERCOMPANY != null">
        #{ENTERCOMPANY,jdbcType=VARCHAR},
      </if>
      <if test="ACCEPTPERSON != null">
        #{ACCEPTPERSON,jdbcType=NUMERIC},
      </if>
      <if test="ACCEPTDATE != null">
        #{ACCEPTDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ACCEPTCOMPANY != null">
        #{ACCEPTCOMPANY,jdbcType=VARCHAR},
      </if>
      <if test="ABNORMALREMARKS != null">
        #{ABNORMALREMARKS,jdbcType=VARCHAR},
      </if>
      <if test="WORKINT != null">
        #{WORKINT,jdbcType=VARCHAR},
      </if>
      <if test="ACTUALCOUNT != null">
        #{ACTUALCOUNT,jdbcType=NUMERIC},
      </if>
      <if test="DESTINATION != null">
        #{DESTINATION,jdbcType=VARCHAR},
      </if>
      <if test="WARENAME != null">
        #{WARENAME,jdbcType=VARCHAR},
      </if>
      <if test="ACTUALVOLUME != null">
        #{ACTUALVOLUME,jdbcType=NUMERIC},
      </if>
      <if test="TIMELIMIT != null">
        #{TIMELIMIT,jdbcType=TIMESTAMP},
      </if>
      <if test="ASK != null">
        #{ASK,jdbcType=VARCHAR},
      </if>
      <if test="TAKECARGOPERSON != null">
        #{TAKECARGOPERSON,jdbcType=VARCHAR},
      </if>
      <if test="TACKCARGOADDRESS != null">
        #{TACKCARGOADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="PAYMENT != null">
        #{PAYMENT,jdbcType=NUMERIC},
      </if>
      <if test="SPECIALENSURE != null">
        #{SPECIALENSURE,jdbcType=VARCHAR},
      </if>
      <if test="DELIVERYTYPE != null">
        #{DELIVERYTYPE,jdbcType=NUMERIC},
      </if>
      <if test="IMPORTANTHINTS != null">
        #{IMPORTANTHINTS,jdbcType=VARCHAR},
      </if>
      <if test="SURPLUSTIME != null">
        #{SURPLUSTIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bos.model.IaeLineresource">
    update IAE_LINERESOURCE
    <set>
      <if test="RESOURCETYPE != null">
        RESOURCETYPE = #{RESOURCETYPE,jdbcType=VARCHAR},
      </if>
      <if test="PORT != null">
        PORT = #{PORT,jdbcType=VARCHAR},
      </if>
      <if test="DEMAND != null">
        DEMAND = #{DEMAND,jdbcType=NUMERIC},
      </if>
      <if test="VEHICLEINT != null">
        VEHICLEINT = #{VEHICLEINT,jdbcType=VARCHAR},
      </if>
      <if test="CAPACITY != null">
        CAPACITY = #{CAPACITY,jdbcType=VARCHAR},
      </if>
      <if test="WAYBILLID != null">
        WAYBILLID = #{WAYBILLID,jdbcType=NUMERIC},
      </if>
      <if test="CARRIER != null">
        CARRIER = #{CARRIER,jdbcType=VARCHAR},
      </if>
      <if test="EXPECTARRIVALDATE != null">
        EXPECTARRIVALDATE = #{EXPECTARRIVALDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="EXPECTDEPARTUREDATE != null">
        EXPECTDEPARTUREDATE = #{EXPECTDEPARTUREDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="TICKET != null">
        TICKET = #{TICKET,jdbcType=NUMERIC},
      </if>
      <if test="CARGO != null">
        CARGO = #{CARGO,jdbcType=NUMERIC},
      </if>
      <if test="WEIGHT != null">
        WEIGHT = #{WEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="VOLUME != null">
        VOLUME = #{VOLUME,jdbcType=NUMERIC},
      </if>
      <if test="HANDLEPERSON != null">
        HANDLEPERSON = #{HANDLEPERSON,jdbcType=VARCHAR},
      </if>
      <if test="HANDLEDATE != null">
        HANDLEDATE = #{HANDLEDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTERPERSON != null">
        ENTERPERSON = #{ENTERPERSON,jdbcType=NUMERIC},
      </if>
      <if test="ENTERDATE != null">
        ENTERDATE = #{ENTERDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTERCOMPANY != null">
        ENTERCOMPANY = #{ENTERCOMPANY,jdbcType=VARCHAR},
      </if>
      <if test="ACCEPTPERSON != null">
        ACCEPTPERSON = #{ACCEPTPERSON,jdbcType=NUMERIC},
      </if>
      <if test="ACCEPTDATE != null">
        ACCEPTDATE = #{ACCEPTDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ACCEPTCOMPANY != null">
        ACCEPTCOMPANY = #{ACCEPTCOMPANY,jdbcType=VARCHAR},
      </if>
      <if test="ABNORMALREMARKS != null">
        ABNORMALREMARKS = #{ABNORMALREMARKS,jdbcType=VARCHAR},
      </if>
      <if test="WORKINT != null">
        WORKINT = #{WORKINT,jdbcType=VARCHAR},
      </if>
      <if test="ACTUALCOUNT != null">
        ACTUALCOUNT = #{ACTUALCOUNT,jdbcType=NUMERIC},
      </if>
      <if test="DESTINATION != null">
        DESTINATION = #{DESTINATION,jdbcType=VARCHAR},
      </if>
      <if test="WARENAME != null">
        WARENAME = #{WARENAME,jdbcType=VARCHAR},
      </if>
      <if test="ACTUALVOLUME != null">
        ACTUALVOLUME = #{ACTUALVOLUME,jdbcType=NUMERIC},
      </if>
      <if test="TIMELIMIT != null">
        TIMELIMIT = #{TIMELIMIT,jdbcType=TIMESTAMP},
      </if>
      <if test="ASK != null">
        ASK = #{ASK,jdbcType=VARCHAR},
      </if>
      <if test="TAKECARGOPERSON != null">
        TAKECARGOPERSON = #{TAKECARGOPERSON,jdbcType=VARCHAR},
      </if>
      <if test="TACKCARGOADDRESS != null">
        TACKCARGOADDRESS = #{TACKCARGOADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="PAYMENT != null">
        PAYMENT = #{PAYMENT,jdbcType=NUMERIC},
      </if>
      <if test="SPECIALENSURE != null">
        SPECIALENSURE = #{SPECIALENSURE,jdbcType=VARCHAR},
      </if>
      <if test="DELIVERYTYPE != null">
        DELIVERYTYPE = #{DELIVERYTYPE,jdbcType=NUMERIC},
      </if>
      <if test="IMPORTANTHINTS != null">
        IMPORTANTHINTS = #{IMPORTANTHINTS,jdbcType=VARCHAR},
      </if>
      <if test="SURPLUSTIME != null">
        SURPLUSTIME = #{SURPLUSTIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bos.model.IaeLineresource">
    update IAE_LINERESOURCE
    set RESOURCETYPE = #{RESOURCETYPE,jdbcType=VARCHAR},
      PORT = #{PORT,jdbcType=VARCHAR},
      DEMAND = #{DEMAND,jdbcType=NUMERIC},
      VEHICLEINT = #{VEHICLEINT,jdbcType=VARCHAR},
      CAPACITY = #{CAPACITY,jdbcType=VARCHAR},
      WAYBILLID = #{WAYBILLID,jdbcType=NUMERIC},
      CARRIER = #{CARRIER,jdbcType=VARCHAR},
      EXPECTARRIVALDATE = #{EXPECTARRIVALDATE,jdbcType=TIMESTAMP},
      EXPECTDEPARTUREDATE = #{EXPECTDEPARTUREDATE,jdbcType=TIMESTAMP},
      TICKET = #{TICKET,jdbcType=NUMERIC},
      CARGO = #{CARGO,jdbcType=NUMERIC},
      WEIGHT = #{WEIGHT,jdbcType=NUMERIC},
      VOLUME = #{VOLUME,jdbcType=NUMERIC},
      HANDLEPERSON = #{HANDLEPERSON,jdbcType=VARCHAR},
      HANDLEDATE = #{HANDLEDATE,jdbcType=TIMESTAMP},
      ENTERPERSON = #{ENTERPERSON,jdbcType=NUMERIC},
      ENTERDATE = #{ENTERDATE,jdbcType=TIMESTAMP},
      ENTERCOMPANY = #{ENTERCOMPANY,jdbcType=VARCHAR},
      ACCEPTPERSON = #{ACCEPTPERSON,jdbcType=NUMERIC},
      ACCEPTDATE = #{ACCEPTDATE,jdbcType=TIMESTAMP},
      ACCEPTCOMPANY = #{ACCEPTCOMPANY,jdbcType=VARCHAR},
      ABNORMALREMARKS = #{ABNORMALREMARKS,jdbcType=VARCHAR},
      WORKINT = #{WORKINT,jdbcType=VARCHAR},
      ACTUALCOUNT = #{ACTUALCOUNT,jdbcType=NUMERIC},
      DESTINATION = #{DESTINATION,jdbcType=VARCHAR},
      WARENAME = #{WARENAME,jdbcType=VARCHAR},
      ACTUALVOLUME = #{ACTUALVOLUME,jdbcType=NUMERIC},
      TIMELIMIT = #{TIMELIMIT,jdbcType=TIMESTAMP},
      ASK = #{ASK,jdbcType=VARCHAR},
      TAKECARGOPERSON = #{TAKECARGOPERSON,jdbcType=VARCHAR},
      TACKCARGOADDRESS = #{TACKCARGOADDRESS,jdbcType=VARCHAR},
      PAYMENT = #{PAYMENT,jdbcType=NUMERIC},
      SPECIALENSURE = #{SPECIALENSURE,jdbcType=VARCHAR},
      DELIVERYTYPE = #{DELIVERYTYPE,jdbcType=NUMERIC},
      IMPORTANTHINTS = #{IMPORTANTHINTS,jdbcType=VARCHAR},
      SURPLUSTIME = #{SURPLUSTIME,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>