<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.mapper.SorOutbounddetailsMapper">
  <resultMap id="BaseResultMap" type="com.bos.model.SorOutbounddetails">
    <id column="ID" jdbcType="NUMERIC" property="ID" />
    <result column="PACKAGEID" jdbcType="VARCHAR" property="PACKAGEID" />
    <result column="WEIGHT" jdbcType="NUMERIC" property="WEIGHT" />
    <result column="VOLUME" jdbcType="NUMERIC" property="VOLUME" />
    <result column="SCANDATE" jdbcType="TIMESTAMP" property="SCANDATE" />
    <result column="ISSCAN" jdbcType="NUMERIC" property="ISSCAN" />
    <result column="ISNEXTSTORAGE" jdbcType="NUMERIC" property="ISNEXTSTORAGE" />
    <result column="ISDOUBLESTORAGE" jdbcType="NUMERIC" property="ISDOUBLESTORAGE" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PACKAGEID, WEIGHT, VOLUME, SCANDATE, ISSCAN, ISNEXTSTORAGE, ISDOUBLESTORAGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SOR_OUTBOUNDDETAILS
    where ID = #{ID,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from SOR_OUTBOUNDDETAILS
    where ID = #{ID,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.bos.model.SorOutbounddetails">
    insert into SOR_OUTBOUNDDETAILS (ID, PACKAGEID, WEIGHT, 
      VOLUME, SCANDATE, ISSCAN, 
      ISNEXTSTORAGE, ISDOUBLESTORAGE)
    values (#{ID,jdbcType=NUMERIC}, #{PACKAGEID,jdbcType=VARCHAR}, #{WEIGHT,jdbcType=NUMERIC}, 
      #{VOLUME,jdbcType=NUMERIC}, #{SCANDATE,jdbcType=TIMESTAMP}, #{ISSCAN,jdbcType=NUMERIC}, 
      #{ISNEXTSTORAGE,jdbcType=NUMERIC}, #{ISDOUBLESTORAGE,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.bos.model.SorOutbounddetails">
    insert into SOR_OUTBOUNDDETAILS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="PACKAGEID != null">
        PACKAGEID,
      </if>
      <if test="WEIGHT != null">
        WEIGHT,
      </if>
      <if test="VOLUME != null">
        VOLUME,
      </if>
      <if test="SCANDATE != null">
        SCANDATE,
      </if>
      <if test="ISSCAN != null">
        ISSCAN,
      </if>
      <if test="ISNEXTSTORAGE != null">
        ISNEXTSTORAGE,
      </if>
      <if test="ISDOUBLESTORAGE != null">
        ISDOUBLESTORAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=NUMERIC},
      </if>
      <if test="PACKAGEID != null">
        #{PACKAGEID,jdbcType=VARCHAR},
      </if>
      <if test="WEIGHT != null">
        #{WEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="VOLUME != null">
        #{VOLUME,jdbcType=NUMERIC},
      </if>
      <if test="SCANDATE != null">
        #{SCANDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ISSCAN != null">
        #{ISSCAN,jdbcType=NUMERIC},
      </if>
      <if test="ISNEXTSTORAGE != null">
        #{ISNEXTSTORAGE,jdbcType=NUMERIC},
      </if>
      <if test="ISDOUBLESTORAGE != null">
        #{ISDOUBLESTORAGE,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bos.model.SorOutbounddetails">
    update SOR_OUTBOUNDDETAILS
    <set>
      <if test="PACKAGEID != null">
        PACKAGEID = #{PACKAGEID,jdbcType=VARCHAR},
      </if>
      <if test="WEIGHT != null">
        WEIGHT = #{WEIGHT,jdbcType=NUMERIC},
      </if>
      <if test="VOLUME != null">
        VOLUME = #{VOLUME,jdbcType=NUMERIC},
      </if>
      <if test="SCANDATE != null">
        SCANDATE = #{SCANDATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ISSCAN != null">
        ISSCAN = #{ISSCAN,jdbcType=NUMERIC},
      </if>
      <if test="ISNEXTSTORAGE != null">
        ISNEXTSTORAGE = #{ISNEXTSTORAGE,jdbcType=NUMERIC},
      </if>
      <if test="ISDOUBLESTORAGE != null">
        ISDOUBLESTORAGE = #{ISDOUBLESTORAGE,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bos.model.SorOutbounddetails">
    update SOR_OUTBOUNDDETAILS
    set PACKAGEID = #{PACKAGEID,jdbcType=VARCHAR},
      WEIGHT = #{WEIGHT,jdbcType=NUMERIC},
      VOLUME = #{VOLUME,jdbcType=NUMERIC},
      SCANDATE = #{SCANDATE,jdbcType=TIMESTAMP},
      ISSCAN = #{ISSCAN,jdbcType=NUMERIC},
      ISNEXTSTORAGE = #{ISNEXTSTORAGE,jdbcType=NUMERIC},
      ISDOUBLESTORAGE = #{ISDOUBLESTORAGE,jdbcType=NUMERIC}
    where ID = #{ID,jdbcType=NUMERIC}
  </update>
</mapper>